# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [3]:
import pandas as pd

In [4]:
recipes=pd.read_csv('recipes_sample.csv')
reviews=pd.read_csv('reviews_sample.csv')
recipe=pd.DataFrame(recipes)
review=pd.DataFrame(reviews)

In [3]:
review

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [14]:
len(recipe.index),len(review.index )

(30000, 126696)

In [15]:
recipe.shape[1],review.shape[1]

(8, 6)

In [28]:
print(recipe.dtypes)
print('')
print(review.dtypes)

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [14]:
sp_rec=0
for i in recipe.isnull().sum():
    if i == 0:
        sp_rec+=1
print(sp_rec)
print('доля пустых строк в recipe:',sp_rec/recipe.shape[1])
        

sp_rev=0
for i in review.isnull().sum():
    if i == 0:
        sp_rev+=1
print(sp_rev)
print('доля пустых строк в review:',sp_rev/review.shape[1])

5
доля пустых строк в recipe: 0.625
5
доля пустых строк в review: 0.8333333333333334

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [47]:
recipe.mean(numeric_only=True)

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

In [51]:
review.mean(numeric_only=True)

Unnamed: 0    5.660898e+05
user_id       1.408013e+08
recipe_id     1.600944e+05
rating        4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [6]:
import numpy as np
random_choice = np.random.choice(recipe['name'], size=10, replace=False)
pd.Series(random_choice)

0                                orange coconut scones
1                          mcdonald family cubed steak
2                               drumstick cake dessert
3                                    pomegranate raita
4    traditional gravy for roast beef  lamb  pork o...
5                                          asian chops
6                                  potato fish chowder
7                 quick mexican pork  or chicken  mole
8                               cosy ham and bean soup
9                                apple chicken patties
dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [7]:
import numpy as np
review_cop=review.copy()
review_cop.set_index(np.arange(0, len(review_cop)))

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [8]:
rec_cop = recipe.copy()
time_n_ing = rec_cop[((rec_cop['minutes'] <=20 ) & (rec_cop['n_ingredients'] <= 5))]
time_n_ing

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [105]:
recipe

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [7]:
recipe['submitted'] = pd.to_datetime(recipe['submitted'])
recipe.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [8]:
rec_2010 = recipe[recipe['submitted'].dt.year <= 2010]
rec_2010

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [12]:
rec_cop2 = recipe.assign(description_length = recipe['description'].str.len())
rec_cop2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [33]:
import numpy
rec_cop2['name']=[i.title() for i in rec_cop2['name']]
rec_cop2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,37
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,34
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,28
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,20
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,40
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,44
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,36
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,43
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,11
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,38

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [31]:
err=[len(i) for i in rec_cop2['name']]
rec_cop2=rec_cop2.insert(8, 'name_word_count',err )
rec_cop2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,37
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,34
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,28
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,20
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,40
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,44
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,36
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,43
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,11
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,38

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
recipe

In [24]:
from collections import Counter
count_id=Counter(recipe['contributor_id'])
final_res = {k:v for k, v in count_id.items() if v == max(count_id.values())}
final_res,count_id

({89831: 421},
 Counter({35193: 18,
          91970: 1,
          1533: 186,
          22724: 4,
          4470: 141,
          41706: 15,
          173674: 2,
          118163: 18,
          1848091: 2,
          50969: 33,
          9748: 4,
          145599: 20,
          98404: 1,
          128473: 61,
          89831: 421,
          261027: 2,
          676820: 4,
          94272: 37,
          64918: 6,
          93406: 1,
          237783: 9,
          113941: 39,
          398160: 10,
          197023: 46,
          135442: 4,
          452592: 3,
          35635: 24,
          213909: 9,
          718054: 7,
          290107: 16,
          191220: 7,
          182809: 20,
          817632: 1,
          341338: 4,
          2406227: 2,
          1355934: 3,
          239808: 3,
          66448: 7,
          822971: 1,
          27643: 109,
          1010057: 1,
          1336260: 1,
          797706: 2,
          383346: 105,
          40493: 9,
          446143: 9,
          235194: 1,
          727055: 1,
          1085867: 2,
          383853: 21,
          1292969: 1,
          31364: 1,
          809163: 12,
          814629: 3,
          337736: 1,
          360244: 1,
          360369: 1,
          270809: 1,
          247476: 1,
          51579: 14,
          133174: 89,
          209747: 41,
          1682162: 1,
          37636: 105,
          13483: 26,
          326970: 4,
          165308: 2,
          1283639: 1,
          167408: 2,
          21752: 100,
          29291: 2,
          424680: 108,
          100856: 1,
          466793: 1,
          17803: 108,
          166642: 115,
          29782: 12,
          22973: 29,
          891449: 3,
          167849: 6,
          1366440: 1,
          1926889: 1,
          47892: 91,
          58104: 180,
          584365: 1,
          120566: 28,
          236760: 10,
          47549: 1,
          454149: 1,
          1299206: 2,
          291568: 2,
          498271: 42,
          37449: 346,
          1375473: 10,
          33186: 21,
          2247203: 1,
          3288: 77,
          94189: 1,
          1464792: 1,
          279496: 4,
          2284242: 2,
          21399: 33,
          346383: 30,
          57042: 63,
          205983: 1,
          379836: 1,
          72748: 10,
          462577: 13,
          210965: 2,
          126687: 5,
          26278: 47,
          1072593: 73,
          63855: 9,
          167864: 1,
          53959: 84,
          189030: 1,
          524879: 1,
          146742: 4,
          516405: 3,
          470110: 1,
          2467678: 1,
          131674: 36,
          303454: 1,
          70073: 9,
          486032: 4,
          663997: 4,
          1618462: 1,
          165433: 2,
          211960: 2,
          324993: 3,
          789314: 1,
          210188: 34,
          205783: 4,
          452940: 50,
          1149117: 1,
          628076: 30,
          204928: 1,
          63098: 14,
          250665: 1,
          45698: 43,
          193516: 13,
          14120: 2,
          107135: 75,
          5060: 99,
          2076275: 1,
          65502: 61,
          613457: 5,
          69474: 50,
          6357: 84,
          204598: 1,
          528468: 3,
          136726: 16,
          37026: 1,
          844444: 8,
          77146: 2,
          407338: 27,
          339260: 29,
          186802: 12,
          83093: 40,
          121183: 1,
          121992: 2,
          517157: 5,
          153866: 4,
          1562: 2,
          188744: 8,
          679759: 12,
          1003473: 2,
          111342: 5,
          285039: 24,
          94996: 1,
          72489: 12,
          1346699: 1,
          97901: 10,
          76197: 1,
          516406: 2,
          90628: 2,
          288146: 4,
          8688: 77,
          120121: 3,
          61388: 2,
          23728: 20,
          235468: 1,
          898589: 1,
          154044: 12,
          292979: 2,
          4439: 40,
          482933: 33,
          741512: 1,
          10649: 7,
          37721: 1,
          813515: 5,
          74652: 33,
          37779: 345,
          2401450: 1,
          461834: 46,
          121686: 1,
          107583: 56,
          262200: 2,
          39334: 7,
          115964: 4,
          221694: 1,
          328154: 4,
          27678: 55,
          20754: 37,
          575052: 1,
          274666: 6,
          882465: 1,
          39547: 66,
          49304: 90,
          2405519: 1,
          10404: 70,
          964093: 1,
          630984: 2,
          962690: 16,
          50509: 28,
          289066: 4,
          672534: 1,
          214991: 2,
          24943: 2,
          1360982: 1,
          278639: 1,
          808027: 10,
          537937: 25,
          461283: 23,
          811431: 1,
          932620: 6,
          10113: 48,
          482376: 30,
          428885: 10,
          1329782: 27,
          80353: 147,
          1891: 10,
          242729: 46,
          2549237: 18,
          28604: 24,
          28087: 15,
          214855: 24,
          262129: 6,
          186981: 2,
          312363: 2,
          567959: 2,
          47907: 49,
          416985: 7,
          47858: 6,
          32772: 43,
          465056: 29,
          144205: 1,
          213139: 15,
          177443: 38,
          599450: 50,
          2200921: 1,
          397624: 2,
          1684045: 1,
          437294: 4,
          74692: 1,
          52448: 28,
          396612: 1,
          143318: 34,
          32315: 1,
          116740: 1,
          16459: 10,
          323731: 1,
          804550: 16,
          2312: 9,
          125356: 12,
          196799: 1,
          841163: 1,
          865936: 65,
          440869: 2,
          464080: 54,
          135470: 27,
          29063: 6,
          52282: 98,
          335718: 4,
          311003: 22,
          25792: 39,
          542159: 34,
          730126: 7,
          68460: 90,
          124614: 6,
          568159: 3,
          20371: 55,
          39636: 6,
          91340: 18,
          54728: 2,
          260464: 2,
          48263: 2,
          505183: 1,
          31525: 8,
          321078: 1,
          481092: 26,
          1108700: 3,
          185387: 7,
          158086: 13,
          422893: 66,
          75011: 1,
          451456: 14,
          121690: 35,
          283251: 127,
          515278: 7,
          211184: 16,
          420960: 2,
          38418: 16,
          526666: 30,
          386585: 89,
          356062: 20,
          327115: 30,
          171790: 30,
          247473: 1,
          22015: 43,
          145352: 35,
          573325: 33,
          322548: 17,
          169969: 59,
          232669: 75,
          101732: 20,
          222139: 7,
          274467: 1,
          1925885: 16,
          23119: 13,
          1364641: 1,
          121684: 13,
          928625: 3,
          292175: 2,
          43145: 1,
          685866: 3,
          927895: 2,
          746803: 10,
          64780: 15,
          47510: 37,
          949568: 3,
          184853: 2,
          114681: 2,
          305531: 113,
          546012: 3,
          43642: 44,
          391624: 3,
          29655: 7,
          379862: 3,
          675623: 1,
          225021: 6,
          610488: 41,
          649758: 2,
          174104: 2,
          102058: 29,
          219733: 5,
          85157: 1,
          100026: 2,
          1800263066: 1,
          73836: 55,
          361931: 25,
          9717: 47,
          736554: 7,
          1617: 1,
          352834: 1,
          36944: 11,
          115525: 6,
          128693: 5,
          1534: 50,
          953275: 13,
          510313: 29,
          645905: 3,
          166475: 6,
          59780: 27,
          48735: 4,
          217657: 20,
          23302: 92,
          590105: 13,
          114712: 8,
          308765: 6,
          412186: 13,
          145338: 6,
          826831: 1,
          408454: 12,
          406667: 2,
          2457912: 1,
          157425: 38,
          62043: 13,
          547985: 1,
          353800: 1,
          795588: 12,
          16949: 2,
          41409: 39,
          67103: 40,
          284897: 44,
          1029909: 1,
          1005571: 1,
          1706426: 14,
          765354: 2,
          860079: 35,
          296434: 4,
          388615: 1,
          566447: 2,
          222696: 11,
          45654: 7,
          21297: 2,
          21694: 20,
          10033: 32,
          990249: 2,
          2152719: 2,
          125640: 43,
          224921: 5,
          317696: 4,
          463498: 1,
          347233: 1,
          2198343: 3,
          1489145: 1,
          92006: 15,
          593927: 23,
          1020526: 17,
          24386: 82,
          151325: 11,
          527607: 52,
          454328: 11,
          10216: 1,
          1463218: 1,
          226863: 60,
          37305: 58,
          25455: 53,
          1535: 40,
          290499: 5,
          83400: 11,
          118840: 39,
          235456: 1,
          491979: 9,
          13063: 24,
          1427607: 1,
          6836: 8,
          539686: 26,
          115822: 1,
          196137: 1,
          772473: 1,
          354628: 4,
          130819: 10,
          20523: 2,
          194993: 5,
          502475: 1,
          106867: 7,
          709802: 2,
          345852: 5,
          37584: 9,
          269521: 34,
          56003: 4,
          131659: 4,
          245590: 1,
          30534: 56,
          186263: 1,
          266635: 57,
          101823: 29,
          147145: 2,
          172491: 3,
          815198: 4,
          494867: 13,
          41531: 14,
          720912: 10,
          786453: 1,
          533757: 1,
          62562: 10,
          227978: 17,
          59064: 23,
          367164: 1,
          52543: 29,
          486096: 1,
          204024: 38,
          64642: 93,
          480666: 1,
          65197: 24,
          237330: 10,
          357272: 5,
          141042: 7,
          108247: 1,
          351811: 38,
          1176851: 1,
          592905: 1,
          620627: 2,
          532785: 7,
          238822: 2,
          168069: 11,
          163112: 32,
          1147519: 1,
          729254: 3,
          1829384: 1,
          1173385: 1,
          1225705: 1,
          68064: 1,
          743475: 1,
          186578: 1,
          70619: 1,
          390058: 6,
          129177: 9,
          1315343: 1,
          293410: 20,
          705251: 30,
          152995: 40,
          529278: 1,
          37077: 5,
          29300: 32,
          768436: 1,
          845713: 1,
          67395: 4,
          66161: 3,
          65720: 33,
          331278: 3,
          65957: 1,
          164890: 4,
          627537: 3,
          6258: 66,
          338080: 1,
          134663: 45,
          66983: 8,
          1540: 1,
          249074: 1,
          157306: 1,
          329671: 4,
          138174: 3,
          785604: 1,
          538011: 10,
          97823: 1,
          86764: 52,
          326084: 4,
          1098036: 1,
          68960: 31,
          146917: 1,
          215880: 1,
          450004: 17,
          31635: 5,
          1677099: 10,
          176773: 9,
          194244: 1,
          110034: 1,
          473343: 8,
          185139: 7,
          182010: 51,
          356551: 1,
          601528: 15,
          1603293: 1,
          49747: 1,
          50151: 4,
          572376: 1,
          158481: 2,
          2298: 1,
          254614: 17,
          78768: 2,
          38971: 1,
          687716: 1,
          353691: 1,
          115758: 11,
          371497: 8,
          37950: 5,
          27395: 18,
          67243: 6,
          169430: 183,
          293946: 4,
          115178: 8,
          539543: 5,
          118684: 2,
          207176: 79,
          1242099: 2,
          78784: 1,
          108846: 57,
          246147: 1,
          1337521: 1,
          72483: 2,
          49623: 1,
          410723: 1,
          600072: 2,
          347124: 1,
          25941: 2,
          115621: 9,
          54678: 6,
          214911: 8,
          153401: 2,
          448342: 3,
          1361848: 1,
          58619: 5,
          678366: 33,
          452576: 3,
          29410: 5,
          214974: 1,
          243711: 4,
          30789: 4,
          2310: 42,
          233627: 1,
          225426: 29,
          178427: 41,
          1785097: 1,
          316233: 10,
          795961: 1,
          43033: 6,
          68500: 1,
          586469: 2,
          146637: 1,
          779699: 23,
          125579: 15,
          467306: 1,
          87877: 18,
          52963: 1,
          55862: 5,
          883095: 45,
          200862: 33,
          227454: 1,
          1123188: 1,
          1680722: 14,
          361088: 1,
          798181: 9,
          488441: 20,
          129958: 7,
          42231: 1,
          142165: 1,
          900063: 1,
          199848: 70,
          161282: 4,
          53123: 7,
          290082: 6,
          9813: 2,
          175829: 1,
          1338252: 1,
          226066: 55,
          562485: 4,
          1017932: 1,
          28346: 11,
          63858: 36,
          8377: 10,
          89809: 1,
          212497: 14,
          285080: 2,
          518581: 3,
          32312: 3,
          567962: 1,
          220166: 10,
          841895: 3,
          348302: 1,
          341170: 15,
          124190: 7,
          1598337: 1,
          169796: 23,
          58913: 2,
          68884: 10,
          679953: 50,
          50867: 1,
          91081: 25,
          1142997: 4,
          335430: 3,
          168167: 3,
          720932: 9,
          323186: 11,
          324136: 10,
          22920: 2,
          30693: 1,
          330545: 28,
          431579: 1,
          286566: 52,
          465829: 13,
          143721: 10,
          359220: 2,
          1268045: 1,
          67899: 30,
          175492: 26,
          1801830924: 1,
          252237: 1,
          106624: 18,
          160974: 17,
          146783: 4,
          184986: 10,
          204199: 9,
          84890: 2,
          1572: 7,
          352538: 3,
          335157: 2,
          186468: 4,
          505972: 3,
          227586: 15,
          115853: 5,
          425677: 6,
          15718: 36,
          171683: 4,
          302094: 9,
          373020: 7,
          321555: 1,
          590656: 5,
          1365024: 5,
          599907: 1,
          69690: 3,
          140132: 17,
          89410: 1,
          71474: 1,
          2473313: 1,
          1484428: 1,
          357358: 7,
          61660: 23,
          185527: 4,
          560491: 32,
          73951: 1,
          65056: 9,
          281701: 10,
          108902: 1,
          6164: 16,
          50738: 1,
          685250: 1,
          465911: 3,
          915798: 1,
          1706500: 1,
          29196: 67,
          246482: 5,
          324390: 69,
          141569: 6,
          103809: 1,
          1133190: 3,
          59532: 10,
          2000034751: 1,
          31807: 57,
          987247: 1,
          409184: 16,
          384041: 30,
          559013: 2,
          61010: 10,
          238522: 2,
          82616: 37,
          211865: 1,
          1366254: 20,
          2157923: 1,
          121581: 5,
          35414: 6,
          38218: 5,
          500866: 1,
          34710: 4,
          242161: 9,
          678862: 9,
          51592: 1,
          93446: 33,
          182358: 21,
          30407: 7,
          149363: 15,
          1558102: 2,
          130663: 12,
          417757: 1,
          34146: 20,
          161953: 6,
          91453: 18,
          594139: 25,
          601607: 5,
          1742: 1,
          227750: 3,
          321820: 4,
          414923: 4,
          222478: 16,
          565592: 7,
          60989: 4,
          57695: 12,
          175574: 10,
          1377154: 1,
          146310: 7,
          663277: 1,
          125773: 7,
          56895: 2,
          135566: 8,
          403193: 1,
          55380: 11,
          186071: 2,
          800297: 3,
          403144: 2,
          201581: 19,
          2956489: 1,
          216289: 1,
          317067: 1,
          97895: 7,
          1599919: 1,
          232886: 7,
          743849: 17,
          96177: 22,
          326339: 1,
          314327: 2,
          719083: 2,
          41218: 8,
          295353: 1,
          763728: 1,
          211514: 1,
          160977: 12,
          12657: 14,
          302689: 6,
          299531: 2,
          330847: 1,
          725350: 1,
          1115490: 1,
          74281: 16,
          248287: 4,
          38181: 5,
          172410: 1,
          145448: 4,
          241522: 1,
          242779: 4,
          221951: 1,
          58382: 10,
          1663799: 2,
          479175: 1,
          1690119: 1,
          145489: 5,
          287420: 67,
          548973: 2,
          439066: 7,
          8494: 1,
          579050: 1,
          136997: 20,
          724631: 36,
          326382: 1,
          1141377: 3,
          174096: 20,
          333017: 34,
          19051: 2,
          319881: 1,
          516247: 2,
          29331: 3,
          599588: 2,
          1546244: 1,
          63617: 1,
          189048: 2,
          1298498: 11,
          273842: 1,
          58439: 8,
          221286: 2,
          485189: 1,
          368986: 1,
          143701: 5,
          55018: 3,
          2883434: 1,
          428250: 1,
          92385: 24,
          621626: 17,
          64203: 29,
          30861: 2,
          209266: 2,
          443552: 2,
          219942: 17,
          209715: 4,
          226867: 12,
          369715: 41,
          826533: 1,
          350938: 28,
          422172: 3,
          134414: 1,
          183964: 7,
          317004: 5,
          1135687: 1,
          625570: 1,
          396078: 27,
          2039865: 1,
          56112: 29,
          921841: 1,
          407088: 2,
          1786923: 3,
          296809: 47,
          69838: 27,
          222477: 6,
          57717: 1,
          93095: 8,
          284771: 2,
          236949: 1,
          58407: 14,
          714468: 16,
          207663: 1,
          411567: 7,
          261510: 3,
          278516: 8,
          2216798: 1,
          869184: 17,
          1058097: 26,
          220153: 2,
          27416: 30,
          51109: 11,
          51641: 7,
          183872: 3,
          318262: 14,
          87023: 27,
          1064230: 2,
          351578: 2,
          883141: 2,
          435170: 1,
          106777: 2,
          635917: 4,
          1028335: 1,
          47559: 50,
          49937: 2,
          275738: 6,
          264017: 12,
          677508: 6,
          2585084: 6,
          409106: 15,
          228172: 2,
          594923: 10,
          221734: 9,
          398275: 5,
          1022987: 2,
          708926: 2,
          184723: 3,
          588654: 1,
          448204: 4,
          262830: 2,
          39992: 3,
          713116: 9,
          122577: 7,
          863930: 2,
          146181: 1,
          501778: 4,
          368277: 4,
          321908: 3,
          756319: 1,
          392890: 1,
          37713: 7,
          616211: 2,
          870705: 5,
          7108: 18,
          226014: 1,
          86512: 5,
          388414: 2,
          1410620: 1,
          369534: 1,
          160599: 1,
          354540: 5,
          67656: 40,
          380466: 4,
          875954: 1,
          371770: 1,
          177933: 5,
          2191120: 1,
          117438: 3,
          308434: 7,
          340141: 15,
          498145: 1,
          418151: 2,
          323118: 3,
          338653: 1,
          857580: 1,
          401420: 5,
          841981: 1,
          231079: 1,
          1310587: 2,
          57846: 2,
          167527: 9,
          587766: 6,
          993604: 28,
          982333: 2,
          272641: 1,
          146573: 2,

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [11]:
rev_newcop= review[['recipe_id','rating']].copy()
rev_newcop.groupby('recipe_id').mean(numeric_only=True).rating

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [66]:
from collections import Counter
Counter(recipe['submitted'].dt.year)

Counter({2002: 2644,
         2003: 2334,
         2004: 2153,
         2011: 922,
         2008: 4029,
         2005: 3130,
         2013: 490,
         2006: 3473,
         2007: 4429,
         2012: 659,
         2009: 2963,
         2010: 1538,
         2001: 589,
         2017: 39,
         2014: 139,
         1999: 275,
         2000: 104,
         2015: 42,
         2016: 24,
         2018: 24})

In [65]:
recipe.groupby(recipe['submitted'].dt.year).count()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
submitted,,,,,,,,
1999,275,275,275,275,275,164,150,203
2000,104,104,104,104,104,50,61,69
2001,589,589,589,589,589,360,507,417
2002,2644,2644,2644,2644,2644,1652,2406,1873
2003,2334,2334,2334,2334,2334,1481,2228,1646
2004,2153,2153,2153,2153,2153,1309,2142,1526
2005,3130,3130,3130,3130,3130,1995,3124,2196
2006,3473,3473,3473,3473,3473,2210,3469,2437
2007,4429,4429,4429,4429,4429,2752,4427,3090
2008,4029,4029,4029,4029,4029,2546,4027,2841
2009,2963,2963,2963,2963,2963,1821,2959,2081
2010,1538,1538,1538,1538,1538,961,1538,1086
2011,922,922,922,922,922,565,922,668
2012,659,659,659,659,659,422,659,447
2013,490,490,490,490,490,344,490,365
2014,139,139,139,139,139,93,139,89
2015,42,42,42,42,42,30,42,27
2016,24,24,24,24,24,16,24,16
2017,39,39,39,39,39,24,39,28
2018,24,24,24,24,24,15,24,15

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [164]:
review

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [163]:
recipe

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [53]:
rev_cop=review.copy()
rev_cop.fillna(0)
rev_cop = rev_cop.loc[rev_cop[] != 0]
#rev_cop.dropna(how='all').dropna(axis=1) 
#rev_cop['review'].astype(bool)
#rev_cop= rev_cop[rev_cop['review'].astype(bool)]
#new_tabl=pd.concat([recipe[['id','name']],rev_cop[['user_id','rating']]],axis=1)
rev_cop.isnull().sum()
#new_tabl

KeyError: 'n_steps'

In [74]:
#Counter(rev_cop['review'].isna())
rev_cop.fillna(0.0)
Counter(rev_cop['review'].isna())

Counter({False: 126679, True: 17})

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [4]:
review

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [15]:
from collections import Counter
import numpy as np
#recipe['submitted'] = pd.to_datetime(recipe['submitted'])
#Counter(review['rating'])
{k:v for k,v in Counter(review['rating']).items() if k==0}

#final_res = {k:v for k, v in count_id.items() if v == max(count_id.values())}
'recipe_id','date','rating'

{0: 6805}

In [34]:
rev_cop5=review.copy()
sort=rev_cop5.sort_values(by='rating', ascending=True)
sort.loc[6805,'date']
ss['date'] = pd.to_datetime(ss['date'])
Counter(ss['date'].dt.year)

Counter({2009: 656,
         2011: 677,
         2005: 240,
         2013: 480,
         2017: 754,
         2008: 693,
         2010: 641,
         2004: 134,
         2016: 289,
         2014: 378,
         2018: 505,
         2015: 273,
         2007: 190,
         2002: 92,
         2012: 459,
         2006: 193,
         2003: 125,
         2000: 2,
         2001: 24})

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [27]:
sort_rec_cop2=rec_cop2.sort_values(by='name_word_count', ascending=False)
sort_rec_cop2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
22778,Roasted Garlic Stuffed Steak With Garlic Mashe...,38409,85,53227,2002-08-26,NaN,this is for all those garlic lovers out there ...,8.0,83
14735,Italian Sausages And Beans With Sage Salsicci...,38761,70,30893,2002-08-28,10.0,this is from a recent foodday section of the o...,NaN,74
13578,Hefty Defty Roly Poly Weebles Wobbles But They...,37673,52,23302,2002-08-19,10.0,eat 'em or freeze 'em.,13.0,71
18830,Norwegian Fried Venison Cutlet With Currant Sa...,80199,1460,112818,2004-01-05,17.0,this is one of my very favorites! if you don't...,20.0,71
3907,Brouillade Of Mushrooms Or The Best Scrambled...,38270,35,27678,2002-08-26,NaN,i love this recipe. the title makes it sound s...,9.0,67
...,...,...,...,...,...,...,...,...,...
15144,Kahk,106784,75,182443,2004-12-23,NaN,authentic egyptian cookies,9.0,4
15470,Klah,67812,5,37462,2003-07-29,4.0,NaN,5.0,4
18090,More,218538,60,397272,2007-03-24,NaN,"in response to a search, i started dragging ou...",12.0,4
11671,Fufu,310279,20,335614,2008-06-20,7.0,my husband and i tried this at the animal king...,6.0,4
14355,Ice,105671,445,177285,2004-12-08,3.0,a family tradition food. served with dinner in...,5.0,3

In [39]:
rec_cop2.to_csv (r'results.csv', index= False )

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.